<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.quo.mapper.CustomerMapper">

	
	<select id="getAll" resultType="customer2">
		select c.cid,c.cname, c.ctype ,c.contact,e.ename ,c.csource,to_char(ftime, 'YYYY.MM.DD' )   from customer c left join emp e on e.eno=c.salesno order by cid desc
	</select>
	
	<select id="getByCid" resultType="customer">
		select c.cid,c.cname, c.ctype,c.address,c.email,c.zip ,c.tel ,c.fax ,c.contact,e.ename ,c.csource,to_char(ftime, 'YYYY.MM.DD' )   from customer c left join emp e on e.eno=c.salesno  where cid = #{cid} order by cid desc
	</select>
	
	<select id="getRidByEno" resultType="empRole">
	select e.rid from emp e left join role r on e.eno=r.rid where e.eno=#{eno}
	</select>
	
	<select id="getCustomerByEno" resultType="customer3">
   select c.cid,c.cname, c.ctype,c.address,c.email,c.zip ,c.tel ,c.fax ,c.contact,e.ename ,c.csource,to_char(ftime, 'YYYY.MM.DD' ) from CUSTOMER c left join emp e on e.eno=c.salesno where e.eno=#{eno}
	</select>
</mapper>



















